@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k30eg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html { 
  font-size: 16px; 
}

nav{
  font-family: 'Muli';
  padding-left: 2.5rem;
  z-index: 2;
  font-size: 1rem;  
}

nav a{
  color:#ffffff;
}

nav a:hover{
  color:#ffc400;
}

.dropdown-item:hover{
  color:#ffc400;
}

li{
  padding:1rem;
}

.dropdown-item{
  border-bottom: 1px solid #e9eaee;
}

.dropdown-menu{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dropdown-menu::after {
  border-bottom: 8px solid #FFFFFF;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";  
  left: 1.3rem;
  position: absolute;
  top: -8px;
}

.navimg{
  background-image: url(Img/BackgroundCars.jpg);
  background-position: center;
  background-size: cover;
  height: 50rem;
  text-align: center;
  filter: brightness( 80% ) contrast( 100% ) saturate( 166% );
}

.fixed-top {
    position: fixed;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.vehica-menu-hover {
    height: 1px;
    background-color: #ffc400;
    position: absolute;
    left: 0;
    top: 0.75rem;
    z-index: 10;
    transition: all ease .5s;
}

.middle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-header {
  font-family: 'Modak', cursive;
  font-size: 5rem;
  color:  #fec200;
}

.menubutton {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0.55rem #999;
    background-color: red;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-paragraf-header{
  position: absolute;
  top: 41%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
}

.textHead {
  color: darkorange;
  font-family: 'Courgette', cursive;
  margin: 0.2rem;
}

.headParaf {
  margin-top: 2.5rem;
  font-family: 'Fredoka One', cursive;
}

.column {
  text-shadow: rgb(255, 0, 0);
  border: 0.25rem solid #ffffff;
  border-radius: 0.5rem;
  background-color: #ffffff;
  float: left;
  width: 34%;
  padding: 0.75rem;
  margin: 4rem;
  margin-top: 1rem;
}

.overlay {
  position: absolute;
  bottom: 0;
}

.left {
  display: none;
  color: #ffffff;
  position: absolute;
  top: 57%;
  left: 28%;
  transform: translate(-50%, -50%);
}

.right {
  display: none;
  color: #ffffff;
  position: absolute;
  top: 57%;
  left: 72%;
  transform: translate(-50%, -50%);
}

.wbutton {
  background-color: #00ff28;
  cursor: pointer;
  border-radius: 50%;
  padding: 5rem;
  box-shadow: 0px 0px 0px 0.5rem #888888;
  border-width: 0;
  background-image: url("Img/icon.png");
  background-size: 7rem 7rem;
  background-repeat: no-repeat;
  background-position: center;
}

.wbutton:active {
  padding: 5.1rem;
  box-shadow: 0px 0px 0px 0.25rem #888888;
  background-size: 6.75rem 6.75rem;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 300px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-size: 40px;
  text-align: center;
  color: #00ff28;
  text-shadow: #000000 0px 0px 20px;
  position: relative;
  margin: auto;
  padding: 0;
  width: 50%;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* WORLD */

.btn {
  margin: 0.026rem;
  position: absolute;
  top: 0.26rem;
  height: 0.073rem;
  width: 0.073rem;
  border-radius: 50%;
  background-color: #A59E96;
  cursor: pointer;
  border: 1px solid rgb(30, 255, 0);
  z-index: -1;
}

.btn-headBox {
  position: absolute;
  background: #d2601a;
  color: #fff1e1;
  padding: 0.03125rem;
  border-radius: 5px;
  text-align: center;
  font-size: 0.104rem;
  margin: 0.015625rem;
  min-width: 1.56rem;
  font-family: 'Fredoka One',
    cursive;
}

.btn-headBox:after {
  content: '';
  position: absolute;
  right: 90%;
  top: 100%;
  border-top: 8px solid #d2601a;
  border-right: 12px solid transparent;
}

.btn-chatBox {
  width: 1.82rem;
  margin: 0.156rem;
  margin-top: 0.234rem;
  position: absolute;
  background: #fff1e1;
  color: #1d3c45;
  padding: 0.03125rem 0.052rem;
  border-radius: 2px;
  font-size: 0.084rem;
  font-family: 'Itim',
    cursive;
}

.displayN {
  display: none;
}


/* W3 */

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 0.52rem;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: black;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 0.125rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 0.167rem;
  text-align: center;
  padding: 0.084rem;
  background-color: #240000;
  color: white;
}

.modal-body {
  padding: 0.042rem 0.084rem;
}